tests/sample.library/backup
tests/sample.library/actions.json
tests/sample.library/Icon*
tests/sample.library/mtime.json
tests/sample.library/saved-filters.json
tests/sample.library/tags.json
tests/sample.library/images/*/*.png
tests/sample.library/images/*/*.jpg
tests/*.sqlite
tests/results
**/*.log
perch.sqlite
perch/config.py
__pycache__
.venv
*.sh
.DS_Store
.coverage
.pytest_cache
.vscode
