<head>
    {% include "./parts/bootstrap-head.html" %}
    <title>{{filename}} - perch</title>
</head>

<body>
    {% include "./parts/header.html" %}
    <a href="vlc://smb://192.168.10.110/share1/videos.library/images/{{filepath}}/{{filename}}.mp4">
        <h3 class="text-center">{{filename}}</h3>
    </a>
    <div class="container">
        <video controls width="100%" preload="metadata"
            poster="{{lib_path}}/images/{{filepath}}/{{filename}}_thumbnail.png"
            src="{{lib_path}}/images/{{filepath}}/{{filename}}.mp4"></video>
    </div>
    </div>
    <h6 class="text-center text-muted">女優:
        {% for actress in actresses %}
        <span class="badge">
            <a href="../actress/{{actress.name}}">
                {{actress.name}}
            </a>
        </span>,
        {% endfor %}
    </h6>
    <p class="text-center">
        {% for tag in tags %}
        <span class="badge rounded-pill bg-secondary">
            <a href=../tag/{{tag.tag}} class="text-white">{{tag.tag}}</a>
        </span>
        {% endfor %}
    </p>

    <div class="text-right">
        <button type="button" class="btn btn-info text-white" onclick="location.href='random'">
            random
        </button>

    </div>

    {% include "./parts/bootstrap-js.html" %}
</body>

</html>
