<html>

<head>
    {% include "./parts/bootstrap-head.html" %}
    <title>メンテナンス - perch</title>
</head>

<body>
    {% include "./parts/header.html" %}

    <h3 class="text-center">{{tag}}</h3>
    <div class="container">
        <form method="POST">
            <button class="btn btn-primary" type="submit" name="task" value="update_db">update_db</button>
        </form>
        <form method="POST">
            <button class="btn btn-danger" type="submit" name="task" value="drop_db">drop_db</button>
        </form>

    </div>
    {% include "./parts/bootstrap-js.html" %}
</body>

</html>